body{
    background:#000000;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

section{
    padding:80px 0;
}



#inicio img{
    width:300px;
    height:420px;
    object-fit:cover;
    border-radius:800%;
}

.card{
    transition:.3s;

}

.card:hover{
    transform:translateY(-5px);
}

footer{
    padding:20px;
}

.card{
    height:100%;
    transition:.3s;
}

.card img{
    height:200px;
    object-fit:cover;
}